# Ignore Python bytecode and virtual environments
__pycache__/
*.py[cod]
*.egg-info/

# Django specific
db.sqlite3
*.log
media/

# Environment variables
.env
*.env

# Ignore IDE and editor settings
.vscode/
.idea/
